*{
		margin:0;
		padding:0;
}
.head-container{
	background-color: black;
	width: 64rem;
	height: 13rem;
}

html{
	scroll-behaviour: smooth;

}

p{
	color: rpg(85 85 85);
}

a, .btn{
		transition: all 300ms ease;
}

nav, .nav-links{
		display: flex;
}

nav{
	justify-content: space-around;
	align-items: center;
	height: 17vh;
}

.nav-links{
		gap: 2rem;
		list-style: none;
		font-size: 1.5rem;
}

a{
	color:black;
	text-decoration: none;
	text-decoration-color: white;
}

a:hover{
		color: gray;
		text-decoration: underline;
		text-underline-offset: 1rem;
		text-decoration-color: rgb(181 181 181);
}

.logo{
	font-size: 3rem;
	background-color: red;
	border:1rem solid white;
	border-radius: 5rem;
	padding: 2rem;
	width: 25rem;
}

.logo:hover:{
	cursor: pointer; 
}

/* Hambuger menu*/

#hamburger-nav {
	display: none;
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 24px;
		width: 30px;
		cursor: pointer;

}

.hamburger-icon span {
		width: 100%;
		height: 2px;
		background-color: white;
		transition: all 0.3s ease-in-out;
}

.menu-links {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: white;
		width: fit-content;
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
}

.menu-links a{
		display: block;
		padding: 10px;
		text-align: center;
		font-size: 1.5rem;
		color:#2b2b2b;
		text-decoration: none;
		transition: all 0.3s ease-in-out;

}

.menu-links li{
	list-style: none;
}

.menu-links.open {
		max-height: 300px;
}

.hamburger-icon.open span:first-child {
		transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
		opacity: 0;
}

.hamburger-icon.open span:last-child {
		transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
	transform: none;
}

.hamburger-icon span:first-child {
	opacity: 1;
}

.hamburger-icon span:first-child {
	transform: none;
}


.hero-section{
		position: relative;
		width: 1000px;
  		height: 800px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 0px;
		margin-top: -0.4rem;
		
}

.frame{
		width: 1000px;
  		 height: 800px;
		padding: 10px;
  		background-image: url('mainframe.jpeg');
  background-size: cover;

}

.frame-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 1000px;
  		height: 800px;
		padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
		transition: background-color 0.5s ease; 
}

.herot1{
		color: black;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 550px;
		margin-left: 250px;
		border: 3px solid white;
		border-radius: 20px;
		width: 450px;
		background-color: #F5F5F5;
	
}

.main-container{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
}

.mtext1{
		position: relative;
		display: column;
		text-align: center;
		align-content: center;
		width: 1000px;		

}

.mframe-container{
			position: relative;
		width: 1000px;
  		height: 800px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 0px;
		margin-top: 0px;



}

.mainframe{
			width: 1000px;
  		 height: 800px;
		padding: 10px;
  		background-image: url('logo2.png');
  background-size: cover;

}

.main-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 1000px;
  		height: 900px;
		padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);


}

.overlay-text{
			color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 300px;
		margin-left: 90px;
		margin-top: 100px
		width: 500px;

}

.mtext3{
		position: relative;
		display: column;
		text-align: center;
		align-content: center;
		width: 1000px;

}

.works-container{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;



}

.img1{
	width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('haircut.jpeg');
  background-size: cover;


}

.overlay-text1{
	position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);


}

.m1{
	 	color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;

}

.work-container2{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img2{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('hairdry.jpeg');
  background-size: cover;


}

.overlay-text2{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);


}

.mm2{	
	color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;

}


.work-container3{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img3{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('hairwash.jpeg');
  background-size: cover;

}

.overlay-text3{
			position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);

}

.mm3{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;


}

.work-container4{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img4{
 width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('nails.jpeg');
  background-size: cover;

}

.overlay-text4{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);


}

.mm4{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;


}

.work-container5{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img5{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('wig1.jpeg');
  background-size: cover;


}

.overlay-text5{
			position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);

}

.mm5{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;

}


.work-container6{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}


.img6{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('wig2.jpeg');
  background-size: cover;

}

.overlay-text6{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);

}

.mm6{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;

}

.work-container7{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img7{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('wig3.jpeg');
  background-size: cover;

}

.overlay-text7{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);

}

.mm7{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;


}

.work-container8{
			position: relative;
			display: flex;
			flex-direction: column;
			column-gap: 10px;
			c
			align-content: center;
		width: 800px;
  		height: 600px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 100px;
		margin-top: 0px;

}

.img8{
		width: 800px;
  		 height: 600px;
		padding: 10px;
  		background-image: url('wig4.jpeg');
  background-size: cover;


}

.overlay-text8{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
  		height: 600px;
		padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);

}

.mm8{
		color: white;
		font-size: 60px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 400px;
		margin-left: 150px;
		margin-bottom: 0px;
		width: 500px;
}

queen-section{
		position: relative;
		width: 1000px;
  		height: 800px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 0px;
		margin-top: 0px;


}

.queen-container{
		position: relative;
		width: 1000px;
  		height: 800px;
 		overflow: hidden;
		padding: 8px;
		margin-left: 0px;
		margin-top: 0px;
		
}

.queenframe{
		width: 1000px;
  		 height: 800px;
		padding: 10px;
  		background-image: url('hands .jpeg');
  background-size: cover;


}

.queen-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 1000px;
  		height: 800px;
		padding: 8px;
  background-color: transparent;

}

.queentext{
		color: white;
		font-size: 50px;
		position: relative;
		justify-content: left;
		align-items: left;
		text-align: center;
		margin-top: 50px;
		margin-left: 200px;
		margin-bottom: 0px;
		width: 500px;
}

.footer1{
		position: relative;
		width: 1000px;
  		height: 700px;
		font-size: 45px;
 		border: 2px dotted black
		border-radius: 40px;
		justify-content: space-between
		padding: 5px;
		margin-left: 0px;
		margin-top: 0px;
		
}

.footer2{
   position: relative;
		width: 1000px;
  		height: 100px;
		background-color: transparent;
		font-size: 2rem; 
}








